.container {
  min-height: 100vh;
  transition: background-color 1s ease-in-out;
}
.quoteAllbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .copyright {
    padding: 20px;
    font-size: 13px;
    color: white;
  }
}

.quoteBox {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 50px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  .quoteTweet {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    svg {
      grid-column: 1;
      grid-row: 1 / span 2;
      margin-right: 10px;
    }

    h1 {
      grid-column: 2;
      grid-row: 1;
      opacity: 1;
    }

    p {
      grid-column: 2;
      grid-row: 2 / span 2;
      margin-left: auto;
      padding: 20px;
      opacity: 1;
    }
  }
  .buttons {
    .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .socialButton {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          margin: 5px;
          padding: 10px;
          border-radius: 5px;
          color: #fff;
          svg {
            width: 100%;
          }
        }
      }
    }
  }
}
